$primary-color: #101d2c;
$secondary-color: #c69963;



body{
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    color: $primary-color;
    background-color: #f7f7f7;
}   